<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Blank
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="medium">GeoApp</ion-title>
        </ion-toolbar>
    </ion-header>

    <div id="container">
        <h3>position: {{currentLat}},{{currentLng}}</h3>
        <h3>address: {{currentAddress}}</h3>

        <ion-item>
            <ion-label position="stacked">Location One</ion-label>
            <ion-input placeholder="Street, City, County, State, Country, ZipCode" ngModel [(ngModel)]="address[1]"
                       required></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Location Two</ion-label>
            <ion-input placeholder="Street, City, County, State, Country, ZipCode" [(ngModel)]="address[2]"
                       required></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Location Three</ion-label>
            <ion-input placeholder="Street, City, County, State, Country, ZipCode" [(ngModel)]="address[3]"
                       required></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Location Four</ion-label>
            <ion-input placeholder="Street, City, County, State, Country, ZipCode" [(ngModel)]="address[4]"
                       required></ion-input>
        </ion-item>
        <ion-button expand="block" (click)="getClosest()">Find closest</ion-button>
        <p>{{closestAddress}}</p>
    </div>
</ion-content>
